.container {
  background-color: rgb(240, 240, 240);
  height: 100vh;
  padding: 1rem;
}

.header {
  background-color: rgb(75, 134, 100);
  color: rgb(191, 224, 205);
  padding: 1rem;
  text-align: center;
}
